{% extends "base.html" %}
{% block content %}

  <div class="d-flex align-items-center mb-4">
    <h3 class="title m-0" style="white-space:nowrap;">Consumption List</h3>
<!-- <div class="box"> -->
    <div id="" class="container tab-pane active">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}<br> Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
    {% endwith %}
  </div>
</div>
    <div class="my-3 p-3 bg-body rounded shadow-sm border">
      <div class="container">
        <form action="/ddCon" method="POST" enctype="multipart/form-data">
          <div class="row mb-3">
              <div class="col-md-3">
                <label for="con_po">PO:</label>
                <input type="text" class="form-control" id="con_po" name="con_po" value="{{session['con_po']}}">
              </div>
              <div class="col-md-3">
                <label for="con_style">Style:</label>
                <input type="text" class="form-control" id="con_style"  name="con_style" value="{{session['con_style']}}">
              </div>
              <div class="col-md-3">
                <label for="con_org_buyer">Buyer:</label>
                <input type="text" class="form-control" id="con_org_buyer"  name="con_org_buyer" value="{{session['con_org_buyer']}}">
              </div>
              <div class="col-md-3">
                <label for="con_color">Color:</label>
                <input type="text" class="form-control" id="con_color"  name="con_color" value="{{session['con_color']}}">
              </div>
          </div>
          <div class="row align-items-end">
            <div class="col-md-3">
              <label for="con_gp_name">Group:</label>
             <input type="text" class="form-control" id="con_gp_name" name="con_gp_name" value="{{session['con_gp_name']}}">
            </div>
            <div class="col-md-3">
              <label for="con_factory">Factory:</label>
             <input type="text" class="form-control" id="con_factory"  name="con_factory" value="{{session['con_factory']}}">
            </div>
            <div class="col-md-3">
              <label for="con_des">DES:</label>
             <input type="text" class="form-control" id="con_des"  name="con_des" value="{{session['con_des']}}">
            </div>
            <div class="col-md-3">
              <label for="con_order_date">Order Date</label>
              <input type="date" id="order_date" class="form-control" name="con_order_date" min="2000-01-02" value="{{session['con_order_date']}}">
            </div>
            <div class="col-md-3">
              <label for="con_ext_dely">Delivery Date</label>
              <input type="date" id="ext_dely" class="form-control" name="con_ext_dely" min="2000-01-02" value="{{session['con_ext_dely']}}"> 
            </div>
            <div class="col-md-3">
              <input type="submit" class="form-control btn btn-primary" value="Search" >
            </div>
            <div class="col-md-3">
              <button class="form-control btn btn-success" onclick="resetForm()">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                      <tr>
                        <th>FACTORY</th>
                        <th>GROUP</th>
                        <th>QTY</th>
                        <th>EXT-DELY</th>
                        <th>STYLE</th>
                        <th>BUYER</th>
                        <th>DES</th>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in all_data %}
                      <tr>
                        <td>{{row.factory}}</td>
                        <td>{{row.gp_name}}</td>
                        <td>{{row.qty}}</td>
                        {% if row.ext_dely %}
                        <td>{{row.ext_dely.strftime('%m/%d/%Y')}}</td>
                        {% else %}
                        <td>{{row.ext_dely}}</td>
                        {% endif %}
                        <td>{{row.style}}</td>
                        <td>{{row.org_buyer}}</td>
                        <td>{{row.des}}</td>
                        <td>
                          <a type="submit" href="/consumption_list_report?factory={{row.factory}}&gp_name={{row.gp_name}}&des={{row.des}}&qty={{row.qty}}&ext_dely={{row.ext_dely}}&style={{row.style}}&org_buyer={{row.org_buyer}}">View Detail</a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
                {% if request.method == 'POST' or request.args.get('search')=='True' %}
                <ul class="pagination">
                  {% if all_data.has_prev %}
                   <li class="page-item"><a class="page-link" href="{{ url_for('auth.ddCon', page_num=all_data.prev_num) }}">Previous</a></li>
                  {% else %}
                   <li class="page-item disabled"><span class="page-link">Previous</span>
                  {% endif %}
                   </li>
                     
                  {% for page in all_data.iter_pages(left_edge=3, right_edge=3) %}
                  {% if page %}
                   <li class="page-item"><a class="page-link" href="{{ url_for('auth.ddCon', page_num=page,po=po,style=style,org_buyer=org_buyer,color=color,order_date=order_date,des=des,gp_name=gp_name,ext_dely=ext_dely,factory=factory,search=True) }}">{{ page }}</a></li>
                  {% else %}
                   <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li> 
                  {% endif %}
                  {% endfor %}
                   
                  {% if all_data.has_next %}
                   <li class="page-item"><a class="page-link" href="{{ url_for('auth.ddCon', page_num=all_data.next_num) }}">Next</a></li>
                  {% else %}
                   <li class="page-item disabled"><span class="page-link">Next</span>
                  {% endif %}
                </ul>
                {% elif request.method == 'GET' %}
                <ul class="pagination">
                  {% if all_data.has_prev %}
                   <li class="page-item"><a class="page-link" href="{{ url_for('auth.ddCon', page_num=all_data.prev_num) }}">Previous</a></li>
                  {% else %}
                   <li class="page-item disabled"><span class="page-link">Previous</span>
                  {% endif %}
                   </li>
                     
                  {% for page in all_data.iter_pages(left_edge=3, right_edge=3) %}
                  {% if page %}
                   <li class="page-item"><a class="page-link" href="{{ url_for('auth.ddCon', page_num=page) }}">{{ page }}</a></li>
                  {% else %}
                   <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li> 
                  {% endif %}
                  {% endfor %}
                   
                  {% if all_data.has_next %}
                   <li class="page-item"><a class="page-link" href="{{ url_for('auth.ddCon', page_num=all_data.next_num) }}">Next</a></li>
                  {% else %}
                   <li class="page-item disabled"><span class="page-link">Next</span>
                  {% endif %}
                   </ul>
                {% endif %}
              </div>
              </div>
              <br>
              <br>
              <br>           
{% endblock %}