{% extends "base.html" %}
{% block content %}

  <div class="d-flex align-items-center mb-4">
    <h3 class="title m-0" style="white-space:nowrap;">Pending</h3>
<!-- <div class="box"> -->
    <div id="" class="container tab-pane active">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}<br> Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
    {% endwith %}

             <table class="table table-bordered">
        <thead>
            <tr>
                <th class="border border-primary">LINE</th>
                {% for date in data_date %}        
                    <th class="border border-primary">dd</th>        
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key, value in x%}
                <tr>z
                    <td>{{ key }}</td>
                    {% for val in value %}
                        <td>
                            {% for k, v in val %}
                                <p>{{ v }}</p>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}