{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <br>
    <br>
    <br>
    <h3 class="title" style="text-align: center;">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-6">
                <img src="/static/images/deltamatelogo.jpg" width="100" height="30" alt="">
            </div>
            <div class="col-md-6">
                <h2 style="color: #0033CC; font-weight: bold;">Delta Mate Myanmar</h2>
            </div>
        </div>
        <img src="static/images/line-dec.png" alt="">
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="name" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>
            
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}