{% extends "base.html" %}
{% block content %}
<br>
<h3 class="title" style="text-align: center;">Order List</h3>
<!-- <div class="box"> -->
    <div id="" class="container tab-pane active"><br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}<br> Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
    {% endwith %}
    <script>
      $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
  </script>

    </div>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable">
                    <thead>
                      <tr>
                        <th>PO</th>
                        <th>LABEL</th>
                        <th>DES</th>
                        <th>D/C</th>
                        <th>PREVIOUS</th>
                        <th>DELY</th>
                        <th>MYANMAR</th>
                        <th>STYLE</th>
                        <th>BUYER VERSION</th>
                        <th>BUYER</th>
                        <th>PRODUCT NAME</th>
                        <th>MAIN COLOR</th>
                        <th>SEASON</th>
                        <th>VESSEL DATE</th>
                        <th>CATEGORY</th>
                        <th>MATERIAL CLASSIFICATION</th>
                        <th>MATERIAL CODE</th>
                        <th>MATERIAL </th>
                        <th>MATERIAL NAME IN CHINESE</th>
                        <th>SIZE</th>
                        <th>COLOUR</th>
                        <th>ORIGINAL CONSUME</th>
                        <th>UNIT</th>
                        <th>LOSS</th>
                        <th>CONSUME POINT</th>
                        <th>ORDER QTY</th>
                        <th>CONSUME</th>
                        <th>GROUP</th>
                        <th>ORDER DATE</th>
                        <th>FACTORY</th>
                        <th>Edit</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in all_data %}
                      <tr>
                        <td>{{row.po}}</td>
                        <td>{{row.label}}</td>
                        <td>{{row.des}}</td>
                        <td>{{row.mcn}}</td>
                        <td>{{row.previous}}</td>
                        <td>{{row.order_date}}</td>
                        <td>{{row.myanmar}}</td>
                        <td>{{row.ext_dely}}</td>
                        <td>{{row.style}}</td>
                        <td>{{row.buyer_version}}</td>
                        <td>{{row.buyer}}</td>
                        <td>{{row.product_name}}</td>
                        <td>{{row.main_color}}</td>
                        <td>{{row.season}}</td>
                        <td>{{row.vessel_date}}</td>
                        <td>{{row.category}}</td>
                        <td>{{row.material_classification}}</td>
                        <td>{{row.material_code}}</td>
                        <td>{{row.material}}</td>
                        <td>{{row.material_chinese}}</td>
                        <td>{{row.size}}</td>
                        <td>{{row.color}}</td>
                        <td>{{row.org_consume}}</td>
                        <td>{{row.unit}}</td>
                        <td>{{row.loss}}</td>
                        <td>{{row.consume_point}}</td>
                        <td>{{row.order_qty}}</td>
                        <td>{{row.consume}}</td>
                        <td>{{row.gp}}</td>
                        <td>{{row.factory}}</td>
                        <td><a href="/erpUpdate" class="btn btn-primary" type="submit" id="id" name="id" value="{{row.id}}" name="id">Edit User</a></td>

                        <!-- <td>{{row.remark}}</td> -->
                        <!-- <td>{{row.status}}</td> -->
                      </tr>
                      <div class="modal fade" id="myModal{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                      
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Update Informations</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                      
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="{{url_for('auth.erpUpdate')}}" method="POST">
                                    <input type="text" class="form-control mt-3"  value="{{row.buyer_version}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.product_name}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.main_color}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.season}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.category}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.material_classification}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.material_code}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.material}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.material_chinese}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.size}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.org_consume}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.unit}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.loss}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.consume_point}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.order_qty}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.consume}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.gp}}">      
                                  <button class="btn btn-primary" type="submit">Update</button>
                                </form>
                      
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                      
                        </div>
                        </div>
                      </div>
                      
                    {% endfor %}
                    
                    </tbody>
                </table>
              </div>
             
{% endblock %}