{% extends "base.html" %}
{% block content %}

  <div class="d-flex align-items-center mb-4">
    <h3 class="title m-0" style="white-space:nowrap;">Order List</h3>
<!-- <div class="box"> -->
    <div id="" class="container tab-pane active">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}<br> Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
    {% endwith %}
  </div>
</div>
    <div class="my-3 p-3 bg-body rounded shadow-sm border">
      <div class="container">
        <form action="/orderlist" method="POST" enctype="multipart/form-data">
          <div class="row mb-3">
              <div class="col-md-3">
                <label for="po">PO:</label>
                <input type="text" class="form-control" id="po" placeholder="{{po}}" name="po">
              </div>
              <div class="col-md-3">
                <label for="style">Style:</label>
                <input type="text" class="form-control" id="style" placeholder="{{style}}" name="style">
              </div>
              <div class="col-md-3">
                <label for="org_buyer">Buyer:</label>
                <input type="text" class="form-control" id="org_buyer" placeholder="{{buyer}}" name="org_buyer">
              </div>
              <div class="col-md-3">
                <label for="color">Color:</label>
                <input type="text" class="form-control" id="color" placeholder="{{color}}" name="color">
              </div>
          </div>
          <div class="row align-items-end">
            <div class="col-md-3">
              <label for="gp_name">Group:</label>
             <input type="text" class="form-control" id="gp_name" placeholder="{{gp_name}}" name="gp_name">
            </div>
            <div class="col-md-3">
              <label for="factory">Factory:</label>
             <input type="text" class="form-control" id="factory" placeholder="{{factory}}" name="factory">
            </div>
            <div class="col-md-3">
              <label for="label">Label:</label>
             <input type="text" class="form-control" id="label" placeholder="{{label}}" name="label">
            </div>
            <div class="col-md-3">
              <label for="order_date">Order Date</label>
              <input type="date" id="order_date" class="form-control" name="order_date" min="2000-01-02">
            </div>
            <div class="col-md-3">
              <label for="start">Delivery Date</label>
              <input type="date" id="ext_dely" class="form-control" name="ext_dely" min="2000-01-02"> 
            </div>
            <div class="col-md-3">
              <input type="submit" class="form-control btn btn-primary" value="Search" href="/consumptionreport?style={{style}}&dely_date={{dely}}&group_name={{group}}&qty_no={{qty}}&buyer={{buyer}}">
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
    <p><a href="/download_order?po={{po}}&style={{style}}&org_buyer={{org_buyer}}&color={{color}}&gp_name={{gp_name}}&ext_dely={{ext_dely}}&order_date={{order_date}}&factory={{factory}}&label={{label}}">Download</a></p>

            <br>
            </div>
            <br>
            <div class="table-responsive mb-5">
                <table class="table table-bordered table-striped mb-4" id="myTable">
                    <thead>
                      <tr>
                        <th>PO</th>
                        <th>LABEL</th>
                        <th>DES</th>
                        <th>D/C</th>
                        <th>PREVIOUS</th>
                        <th>DELY</th>
                        <th>MYANMAR</th>
                        <th>STYLE</th>
                        <th>BUYER VERSION</th>
                        <th>BUYER</th>
                        <th>PRODUCT NAME</th>
                        <th>MAIN COLOR</th>
                        <th>SEASON</th>
                        <th>VESSEL DATE</th>
                        <th>CATEGORY</th>
                        <th>MATERIAL CLASSIFICATION</th>
                        <th>MATERIAL CODE</th>
                        <th>MATERIAL NAME IN CHINESE</th>
                        <th>MATERIAL </th>
                        <th>SIZE</th>
                        <th>COLOUR</th>
                        <th>ORIGINAL CONSUME</th>
                        <th>UNIT</th>
                        <th>LOSS</th>
                        <th>CONSUME POINT</th>
                        <th>ORDER QTY</th>
                        <th>CONSUME</th>
                        <th>GROUP</th>
                        <th>Order Date</th>
                        <th>FACTORY</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in all_data %}
                      <tr>
                        <td>{{row.po}}</td>
                        <td>{{row.label}}</td>
                        <td>{{row.des}}</td>
                        <td>{{row.mcn}}</td>
                        <td>{{row.previous.strftime('%d/%m/%Y')}}</td>
                        <td>{{row.ext_dely.strftime('%d/%m/%Y')}}</td>
                        <td>{{row.myanmar}}</td>
                        <td>{{row.style}}</td>
                        <td>{{row.buyer_version}}</td>
                        <td>{{row.pending_buyer}}</td>
                        <td>{{row.product_name}}</td>
                        <td>{{row.main_color}}</td>
                        <td>{{row.season}}</td>
                        <td>{{row.vessel_date.strftime('%d/%m/%Y')}}</td>
                        <td>{{row.category}}</td>
                        <td>{{row.material_classification}}</td>
                        <td>{{row.material_code}}</td>
                        <td>{{row.material}}</td>
                        <td>{{row.material_chinese}}</td>
                        <td>{{row.size}}</td>
                        <td>{{row.color}}</td>
                        <td>{{row.org_consume}}</td>
                        <td>{{row.unit}}</td>
                        <td>{{row.loss}}</td>
                        <td>{{row.consume_point}}</td>
                        <td>{{row.order_qty}}</td>
                        <td>{{row.consume}}</td>
                        <td>{{row.gp}}</td>
                        <td>{{row.order_date.strftime('%d/%m/%Y')}}</td>
                        <td>{{row.factory}}</td>
                      </tr>
                      <div class="modal fade" id="myModal{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                      
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Update Informations</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                      
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="{{url_for('auth.erpUpdate')}}" method="POST">
                                    <input type="text" class="form-control mt-3"  value="{{row.buyer_version}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.product_name}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.main_color}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.season}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.category}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.material_classification}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.material_code}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.material}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.material_chinese}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.size}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.org_consume}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.unit}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.loss}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.consume_point}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.order_qty}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.consume}}">
                                    <input type="text" class="form-control mt-3"  value="{{row.gp}}">      
                                  <button class="btn btn-primary" type="submit">Update</button>
                                </form>
                      
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                      
                        </div>
                        </div>
                      </div>
                      
                    {% endfor %}
                    
                    </tbody>
                </table>

                <ul class="pagination">
                  {% if all_data.has_prev %}
                   <li class="page-item"><a class="page-link" href="{{ url_for('auth.orderlist', page_num=all_data.prev_num) }}">Previous</a></li>
                  {% else %}
                   <li class="page-item disabled"><span class="page-link">Previous</span>
                  {% endif %}
                   </li>
                     
                  {% for page in all_data.iter_pages(left_edge=3, right_edge=3) %}
                  {% if page %}
                   <li class="page-item"><a class="page-link" href="{{ url_for('auth.orderlist', page_num=page) }}">{{ page }}</a></li>
                  {% else %}
                   <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li> 
                  {% endif %}
                  {% endfor %}
                   
                  {% if all_data.has_next %}
                   <li class="page-item"><a class="page-link" href="{{ url_for('auth.orderlist', page_num=all_data.next_num) }}">Next</a></li>
                  {% else %}
                   <li class="page-item disabled"><span class="page-link">Next</span>
                  {% endif %}
                   </ul>
              </div>
             
{% endblock %}