{% extends "base.html" %}
{% block content %}

  <div class="d-flex align-items-center mb-4">
    <h3 class="title m-0" style="white-space:nowrap;">Schedule Report</h3>
<!-- <div class="box"> -->
    <div id="" class="container tab-pane active">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}<br> Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
    {% endwith %}

               
                <a href="{{ url_for('main.sheduleupload') }}" type="submit" class="btn btn-outline-primary">+ New Schedule List</a>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Factory
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/schedulelist?search_factory=DMHB">DMHB</a></li>
                    <li><a class="dropdown-item" href="/schedulelist?search_factory=DMSLG">DMSLG</a></li>
                    <li><a class="dropdown-item" href="/schedulelist?search_factory=HYHB">HYHB</a></li>
                    <li><a class="dropdown-item" href="/schedulelist?search_factory=HCHB">HCHB</a></li>
                    <li><a class="dropdown-item" href="/schedulelist?search_factory=DHSHB">DHSHB</a></li>
                    <li><a class="dropdown-item" href="/schedulelist?search_factory=MYHB">MYHB</a></li>
                    <li><a class="dropdown-item" href="/schedulelist?search_factory=DWSLG">DWSLG</a></li>
                  </ul>
                </div>
              </div>
          </div>
          {% if search_factory %}
            <h3 class="title m-0" style="white-space:nowrap;">Search by: {{search_factory}} factory</h3>
          {% endif %}
          <br>
            <div class="table-responsive">
                <table class="table table-bordered table-striped tbl-schedule" id="myTable">
                  <thead>
                    <tr>
                      <th></th>
                      <th>EU</th>
                      <th>LiuJo</th>
                      <th>INT</th>
                      <th>{{today}}</th>
                    </tr>
                    <tr>
                      <tr></tr>
                      <td>Line</td>
                      {% for index in range(index_range) %}
                        <td>{{dates[index]["days"].day}}</td>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in range(occurrence) %}
                    <tr>
                      <td style="padding: 0px !important">
						<p>Dely</p>
						<p>Q'Ty</p>
						<br>
						<p></p>
						<p>{{line_list[row]}}</p>
						<p></p>
						<p style="border-top: 1px solid;border-bottom: 1px solid;margin-bottom: 0;min-width: 100px;height: 2em;padding: 3px;">Target</p>
						<p style="margin-bottom: 0; min-width: 100px; height: 2em; padding: 3px;">Balance</p>
						<p style="border-top: 1px solid; border-bottom: 1px solid;margin-bottom: 0; min-width: 100px; height: 2em;padding: 3px;">Zip&amp;Thread</p>
						<p style="border-bottom: 1px solid;margin-bottom: 0;height: 2em;padding: 3px;"> </p>
					  </td>
                      {% for column in range(index_range) %}
                      {% if all_data[row]["list_of_placement"][column]["existed"]%}
                      <td style="padding: 0px !important">
                        
                          <p>{{all_data[row]['data'][all_data[row]["list_of_placement"][column]['data_idx']]["data"].dely.strftime('%m/%d/%Y')}}</p>
                          <p><a href="/consumptionreport?factory={{all_data[row]['data'][all_data[row]['list_of_placement'][column]['data_idx']]['data'].factory}}&des={{all_data[row]['data'][all_data[row]['list_of_placement'][column]['data_idx']]['data'].des}}&style={{all_data[row]['data'][all_data[row]['list_of_placement'][column]['data_idx']]['data'].style}}&dely_date={{all_data[row]['data'][all_data[row]['list_of_placement'][column]['data_idx']]['data'].dely}}&group_name={{all_data[row]['data'][all_data[row]['list_of_placement'][column]['data_idx']]['data'].gp}}&qty_no={{all_data[row]['data'][all_data[row]['list_of_placement'][column]['data_idx']]['data'].qty}}&buyer={{all_data[row]['data'][all_data[row]['list_of_placement'][column]['data_idx']]['data'].buyer}}">{{all_data[row]['data'][all_data[row]["list_of_placement"][column]['data_idx']]["data"].qty}}</a></p>
                          <br>
                          <p>{{all_data[row]['data'][all_data[row]["list_of_placement"][column]['data_idx']]["data"].gp}}</p>
                          <p>{{all_data[row]['data'][all_data[row]["list_of_placement"][column]['data_idx']]["data"].style}}</p>
                          <p>{{all_data[row]['data'][all_data[row]["list_of_placement"][column]['data_idx']]["data"].buyer}}</p>
                          <p style="border-top: 1px solid;margin-bottom: 0;min-width: 100px;padding: 3px;">{{all_data[row]['data'][all_data[row]["list_of_placement"][column]['data_idx']]["data"].target}}<br></p>
                          <p style="border-top: 1px solid;min-width: 100px;padding: 3px;">{{all_data[row]['data'][all_data[row]["list_of_placement"][column]['data_idx']]["data"].balance}}<br></p>
                          <p style="border-top: 1px solid;border-bottom: 1px solid;margin-bottom: 0;min-width: 100px;padding: 3px;">{{all_data[row]['data'][all_data[row]["list_of_placement"][column]['data_idx']]["data"].zip_thread}}</p>
                          <p style="border-bottom: 1px solid;margin-bottom: 0;min-width: 100px;padding: 3px;">{{all_data[row]['data'][all_data[row]["list_of_placement"][column]['data_idx']]["data"].total}}<br></p>
                          <!-- {{all_data[row]['data'][all_data[row]["list_of_placement"][column]['data_idx']]["data"].factory}}<br> -->
                          {% if all_data[row]['data'][all_data[row]["list_of_placement"][column]['data_idx']]["data"].image_path %}
                          <img src="/{{all_data[row]['data'][all_data[row]['list_of_placement'][column]['data_idx']]['data'].image_path}}" alt="" srcset="" width="150px" height="auto">
                            {% endif %}
                          <div>
                          {% if session["role"] == 'superadmin' %}
                              <div>
                              
                            <form enctype="multipart/form-data" method="post" action="imageupload/{{all_data[row]['data'][all_data[row]['list_of_placement'][column]['data_idx']]['data'].id}}">
                              <input name="file" class="form-control form-control-sm" id="formFileSm" type="file" /> <button class="btn btn-success" type="submit">Submit</button>
                            </form> <br>
                            <a href="/schedule/update/{{all_data[row]['data'][all_data[row]['list_of_placement'][column]['data_idx']]['data'].id}}" class="btn btn-primary" role="button"><i class="bi-pencil"></i></a> |
                            <button class="btn btn-danger" id="{{all_data[row]['data'][all_data[row]['list_of_placement'][column]['data_idx']]['data'].id}}" onclick="delete_schedule(this.id)"><i class="bi-trash"></i></button></td>
                              </div>
                          {% endif %}
                          </div>
                            
                  {% else %}
                     
					<td style="padding: 0px !important">
						<p></p>
						<p></p>
						<br>
						<p></p>
						<p></p>
						<p></p>
						<p style="border-top: 1px solid;border-bottom: 1px solid;margin-bottom: 0;min-width: 100px;height: 2em;padding: 3px;"></p>
						<p style="margin-bottom: 0; min-width: 100px; height: 2em; padding: 3px;"></p>
						<p style="border-top: 1px solid; border-bottom: 1px solid;margin-bottom: 0; min-width: 100px; height: 2em;padding: 3px;"></p>
						<p style="border-bottom: 1px solid;margin-bottom: 0;height: 2em;padding: 3px;"> </p>
					</td>
					
                      {% endif %}
                    {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>
              <br>
              <br>
              <br>           
{% endblock %}